@import "../app.vars.scss";
.sections .section:nth-child(3) p {
  text-align: center !important;
}

/*------------------------------------*\
	About
\*------------------------------------*/

.about {
  position: relative;
  border: 1px solid #EEE;

  i {
    font-size: 36px;
    color: $--color;
  }

  :after {
    content: "";
    background-color: $--background-hover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
  }

  h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }
}

.about:hover {
  i {
    color: $--color-text-hover;
  }
  h3 {
    color: #fff;
  }
  :after {
    width: 100%;
  }
}

@media only screen and (min-width : 768px) {
  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}