<!-- About -->
<div id="about" class="section sm-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="section-header text-center">
      <h2 class="title">{{pageContent.title.rendered}}</h2>
    </div>
    <div class="row sections">

      <!-- Section header -->
      <!-- /Section header -->

      <!-- about -->
      <div class="col-md-4 section" *ngFor="let section of pageSections">
        <div class="about">
          <i class="fa {{section.icon}}"></i>
          <h3>{{section.title}}</h3>
          <p [innerHTML]="section.text"></p>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <!--<div class="col-md-6 section">-->
        <!--<div class="about">-->
          <!--<i class="fa fa-briefcase"></i>-->
          <!--<h3>{{pageContent.second_section_title}}</h3>-->
          <!--<p>{{pageContent.second_section_text}}</p>-->
        <!--</div>-->
      <!--</div>-->
      <!-- /about -->

      <div></div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->