<!-- About -->
<div id="about" class="section sm-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="section-header text-center">
      <h2 class="title">Про нас</h2>
    </div>
    <div class="row">

      <!-- Section header -->
      <!-- /Section header -->

      <!-- about -->
      <div class="col-md-6 section">
        <div class="about">
          <i class="fa fa-cubes"></i>
          <h3>Напрямки діяльності</h3>
          <p>"ЄВРОІНВЕСТСЕРВІС" є офіційним представником польської Будівельної Компанії MIRIUS Sp.z o.o, що надає свої послуги на території Польші, Литви, Латвії та Німеччини  за будівельними спеціальностями:</p>
          <p>монолітні роботи; мурувальні роботи; покрівельні роботи; фасадні роботи; внутрішньо-оздоблювальні роботи; електромонтажні роботи; дорожні роботи; роботи по сантехніці.</p>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-6 section">
        <div class="about">
          <i class="fa fa-briefcase"></i>
          <h3>Умови співпраці</h3>
          <p>ЄВРОІНВЕСТСЕРВІС проводить професійний підбір кадрів,
            здійснює клієнтську підтримку протягом усього терміну контракту,
            надає візову підтримку, консультації широкого спектру питань з проживання і роботи в країні,
            вирішує різноманітні міграційні завдання, контролює медичне обслуговування по страхуванню.</p>
        </div>
      </div>
      <!-- /about -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->