<!-- About -->
<div id="about" class="section sm-padding">

  <!-- Container -->
  <div class="container">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">{{pageContent.title.rendered}}</h2>
    </div>
    <!-- /Section header -->
    <!-- Row -->
    <div class="row sections">
      <!-- about -->
      <div class="col-md-4 section" *ngFor="let section of pageSections">
        <div class="about text-center h-100 p-3 my-2">
          <i class="fa {{section.icon}} mb-3"></i>
          <h3>{{section.title}}</h3>
          <p class="text-justify mb-0" [innerHTML]="section.text"></p>
        </div>
      </div>
      <!-- /about -->
    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->