<!-- Contact -->
<div id="contact" class="section">

  <!-- Container -->
  <div class="container">
    <!-- Section-header -->
    <div class="section-header text-center">
      <h2 class="title">Контакти</h2>
    </div>
    <!-- /Section-header -->
    <!-- Row -->
    <div class="row">
      <!-- contact -->
      <div *ngFor="let contact of contacts" class="col-md-4">
        <div class="contact" [ngClass]="{active: selectedContact && contact.city === selectedContact.city}">
          <div><h4>{{contact.city}}</h4></div>
          <div>{{contact.address}}</div>
          <a href="javascript:void(0)" (click)="selectAddress(contact)"><i class="fa fa-map-marker"></i>Показати на карті</a>
          <div class="phones">
            <div *ngFor="let phone of contact.phones">
              <a [href]="'tel:' + phone.number">
                <i class="fa fa-phone"></i>{{phone.number}}<i *ngIf="phone.viber" class="viber"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Row -->
    <div class="row map-container" [@showMap]="mapState">
      <agm-map *ngIf="selectedContact" class="col-12" [zoom]="17" [latitude]="selectedContact.lat" [longitude]="selectedContact.lng">
        <agm-marker [latitude]="selectedContact.lat" [longitude]="selectedContact.lng"></agm-marker>
      </agm-map>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="contact">
          <i class="fa fa-envelope"></i>
          <h3>Елекронна пошта</h3>
          <p>eislviv@gmail.com</p>
        </div>
      </div>
    </div>

    <!-- contact form -->
      <div class="row justify-content-center sm-padding" id="request-form">
        <div class="section-header text-center col-md-12">
          <h2 class="title">Оформити заявку</h2>
          <p>Заповніть онлайн форму та наші працівники Вам перетелефонують:</p>
          <button type="button" (click)="formActive = !formActive" class="btn main-btn">Онлайн форма</button>
          <div class="col-md-8" [@myAwesomeAnimation]='formState' class="contact-form">
            <form>
              <input type="text" class="input" placeholder="Імя">
              <input type="email" class="input" placeholder="Електронна пошта">
              <textarea class="input" placeholder="Про себе"></textarea>
              <button type="submit" (click)="sendForm()" class="main-btn">Надіслати</button>
            </form>
          </div>
          <p>Відправити скан/фото заповненої анкети:</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a target="_blank" href="/assets/Anketa-EIS.pdf" download="Anketa-EIS.pdf" class="btn outline-btn">Скачати анкету</a>
            <button type="button" class="btn main-btn">Завантажити анкету</button>
          </div>
        </div>
      </div>
    <!-- /contact form -->

  </div>
  <!-- /Container -->

</div>
<!-- /Contact -->