@import "../app.vars.scss";

#contact {
  padding-top: 4em;
}

.contact {
  margin: 15px 0px;
  text-align: center;

  border: 1px solid #EEE;
  padding-top: 1em;
  height: 90%;

  &.active {
    border: 1px solid #7a7a7a;
  }

  .phones {
    margin-top: 1em;
  }
}

h3.request {
  text-align: center;
}

.contact i {
  font-size: 1.5em;
  width: 1em;
  color: $--color;
  text-align: center;
  vertical-align: middle;
}

.contact i.viber {
  font-size: 1.5em;
  width: 1em;
  color: $--color;
  text-align: center;
  vertical-align: middle;
}

.contact i.viber:after {
  content: ' ';
  background: url("../../assets/icons/viber.svg");
  width: 1em;
  height: 1em;
  margin-left: .2em;
  display: inline-block;
  vertical-align: text-top;
}

.contact-form {
  overflow: hidden;
  border: 1px solid #EEE;
  > form {
    text-align: center;
    margin-top: 40px;
    padding: 0 1em;

    textarea {
      height: 7em;
    }

    .input {
      margin-bottom: 20px;
    }
  }

  .alert {
    position: absolute;
    top: 40px;
    font-size: 12px;
    padding: 0 0 0 10px;
    background: transparent;
    border: none;

    &.alert-danger {
      color: red;
    }
  }
}

.alert-top {
  position: fixed;
  &.alert-dismissible {
    padding-right: 3em;
  }
  top: 4em;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);

  .close {
    cursor: pointer;
  }
}

.btn-group {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}

agm-map {
  height: 400px;
  padding: 0;
}

.map-container {
  overflow: hidden;
  background: rgba(134, 143, 155, .5);
}

.office-select {
  margin: 0;
  text-align: left;
  label {
    padding-left: 10px;
  }
}
