<!-- Contact -->
<div id="contact" class="section">

  <!-- Container -->
  <div class="container">
    <!-- Section-header -->
    <div class="section-header text-center">
      <h2 class="title">{{pageContent.title}}</h2>
    </div>
    <!-- /Section-header -->
    <!-- Row -->
    <div class="row">
      <!-- contact -->
      <div *ngFor="let contact of contacts" class="col-md-4">
        <div class="contact" [ngClass]="{active: selectedContact && contact.city === selectedContact.city}">
          <div><h4>{{contact.city}}</h4></div>
          <div>{{contact.street}}</div>
          <a href="javascript:void(0)" (click)="selectAddress(contact)"><i class="fa fa-map-marker"></i><span appTranslate>Show on map</span></a>
          <div class="phones">
            <div *ngFor="let phone of contact.phones">
              <a [href]="'tel:' + phone.number">
                <i class="fa fa-phone"></i>{{phone.number}}<i *ngIf="phone.viber" class="viber"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Row -->
    <div id="map-container" class="row map-container" [@showMap]="mapState">
      <agm-map *ngIf="selectedContact" class="col-12" [zoom]="17" [latitude]="selectedContact.lat" [longitude]="selectedContact.lng">
        <agm-marker [latitude]="selectedContact.lat" [longitude]="selectedContact.lng"></agm-marker>
      </agm-map>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="contact">
          <i class="fa fa-envelope"></i>
          <h3>{{pageContent.email_label}}</h3>
          <p><a href="mailto:{{pageContent.contact_email}}">{{pageContent.contact_email}}</a></p>
        </div>
      </div>
    </div>

    <!-- contact form -->
      <div class="row justify-content-center sm-padding" id="request-form">
        <div class="section-header text-center col-md-12">
          <h2 class="title">{{pageContent.request_label}}</h2>
          <p>{{pageContent.online_form_info}}</p>
          <button type="button" (click)="formActive = !formActive" class="btn main-btn">{{pageContent.online_form_open_action}}</button>
          <div class="col-md-8" [@myAwesomeAnimation]='formState' class="contact-form">
            <form (ngSubmit)="sendForm(f)" #f="ngForm" class="row justify-content-around">
              <div class="col-md-6">
                <input type="text" class="input" [(ngModel)]="onlineForm.name" [ngModelOptions]="{updateOn: 'blur'}" name="name" #name="ngModel" required minlength="4" placeholder="Прізвище Ім'я Побатькові">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                  <div *ngIf="name.errors.required">Небхідно ввести прізвище та ім'я</div>
                  <div *ngIf="name.errors.minlength">Введіть повне ім'я</div>
                </div>
              </div>
              <div class="col-md-6">
                <input type="text" class="input" [(ngModel)]="onlineForm.phone" [ngModelOptions]="{updateOn: 'blur'}" #phone="ngModel" minlength="5" name="phone" required placeholder="Контактний номер">
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                  <div *ngIf="phone.errors.required">Небхідно ввести контактний номер</div>
                  <div *ngIf="phone.errors.minlength">Введіть коректний номер телефону</div>
                </div>
              </div>
              <div class="col-md-6">
                <select class="custom-select custom-select-lg mb-3" name="vacancy" #vacancy="ngModel" required [(ngModel)]="onlineForm.vacancy" required>
                  <option selected value="">Вибір вакансії</option>
                  <option *ngFor="let vacancy of vacancies"
                          [value]="vacancy">{{vacancy}}
                  </option>
                </select>
                <div *ngIf="vacancy.invalid && (vacancy.dirty || vacancy.touched)" class="alert alert-danger">
                  <div *ngIf="vacancy.errors.required">Небхідно вибрати вакансію</div>
                </div>
              </div>
              <div class="office-select col-md-6 row">
                <label for="office-select" class="col-sm-4 col-form-label">Контактний офіс:</label>
                <select class="col-sm-8 custom-select custom-select-lg mb-3" name="office" id="office-select" #office="ngModel" required [(ngModel)]="onlineForm.office" required>
                  <!--<option selected value="">Вибір контакного офісу</option>-->
                  <option *ngFor="let office of offices"
                          [value]="office.value">{{office.title}}
                  </option>
                </select>
              </div>
              <div class="col-md-12">
                <input type="email" class="input" [(ngModel)]="onlineForm.email" name="email" placeholder="Електронна пошта">
                <div class="alert alert-success">
                  <div>Не обов'язкове поле.</div>
                </div>
              </div>
              <div class="col-md-12">
                <textarea class="input" [(ngModel)]="onlineForm.description" name="description" placeholder="Коротко про себе (вік, досвід роботи ...)"></textarea>
              </div>
              <button type="submit" [disabled]="f.invalid" class="main-btn">{{pageContent.online_form_send_action}}</button>
            </form>
          </div>
          <p>{{pageContent.official_form_info}}</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a target="_blank" href="/wp-content/themes/invest/dist/assets/Anketa-EIS.pdf" download="Anketa-EIS.pdf" class="btn outline-btn">{{pageContent.official_form_download}}</a>
            <!--<button type="button" class="btn main-btn">Завантажити анкету</button>-->
            <div class="custom-file">
              <input type="file" name="Anketa_EIS" (change)="uploadOfficialForm($event.target.files, file)" #file class="custom-file-input" id="validatedCustomFile" required>
              <label class="custom-file-label" for="validatedCustomFile">{{pageContent.official_form_upload}}</label>
              <div class="invalid-feedback">Помилка при завантаженні, спробуйте ще раз.</div>
            </div>
          </div>
        </div>
      </div>
    <!-- /contact form -->

  </div>
  <!-- /Container -->

  <div *ngIf="sendFormError" class="alert alert-danger alert-top alert-dismissible fade" [ngClass]="{show: sendFormError}" role="alert">
    <strong>Помилка!</strong> Заявку не надіслано, спробуйте ще раз, або скористайтесь контактним телефоном.
    <button type="button" class="close" (click)="sendFormError = false" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="uploadFormError" class="alert alert-danger alert-top alert-dismissible fade" [ngClass]="{show: uploadFormError}" role="alert">
    <strong>Помилка!</strong> Анкету не завантажено, спробуйте ще раз, або скористайтесь електронною поштою.
    <button type="button" class="close" (click)="uploadFormError = false" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="sendFormSuccess" class="alert alert-success alert-top fade" [ngClass]="{show: sendFormSuccess}" role="alert">
    Заявка успішно надіслана, наші працівники Вам зателефонують.
  </div>

  <div *ngIf="uploadFormSuccess" class="alert alert-success alert-top fade" [ngClass]="{show: uploadFormSuccess}" role="alert">
    Анкета успішно завантажена, наші працівники Вам зателефонують.
  </div>
</div>
<!-- /Contact -->