<!-- Nav -->
<nav id="nav" class="navbar navbar-expand-md nav-transparent">
  <a class="navbar-brand" href="javascript:void(0)">ЄВРОІНВЕСТСЕРВІС</a>
  <!-- Collapse nav button -->
  <button class="navbar-toggler nav-collapse" (click)="toggleNav()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>
  </button>
  <!-- /Collapse nav button -->

  <div class="navbar-collapse collapse navbar-right" id="navbarNavAltMarkup">
    <!--  Main navigation  -->
    <ul class="main-nav nav navbar-nav">
      <li *ngFor="let link of links">
        <a (click)="navigate($event, link)" for="nav" href="#{{link.hash}}">{{link.title}}</a>
      </li>
    </ul>
    <!-- /Main navigation -->
  </div>
</nav>
<!-- /Nav -->