
  //$--color: #8b9dc0;
  $--color: #284687;
  //$--color: #6195cd;
  //$--color: #6195FF;
  $--color-text-hover: #8b9dc0;
  //$--background-hover: #1C1D21;
  $--background-hover: #2d2f38;
  $--header-color: #10161A;
  $--color-text: #868F9B;