<!-- Navigation -->
<app-nav></app-nav>
<!-- /Navigation -->

<!-- Sections -->
<app-home class="app-section" [ngClass]="{active: (appService.activeSection | async) === 'home'}"></app-home>
<app-about class="app-section" [ngClass]="{active: (appService.activeSection | async) === 'about'}"></app-about>
<app-vacancies class="app-section" [ngClass]="{active: (appService.activeSection | async) === 'vacancies'}"></app-vacancies>
<app-contact class="app-section" [ngClass]="{active: (appService.activeSection | async) === 'contact'}"></app-contact>
<!-- /Sections -->

<!-- Footer -->
<footer id="footer" class="bg-dark">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <div class="col-md-12">

        <!-- footer logo -->
        <div class="footer-logo">
          <a href="javascript:void(0)"></a>
        </div>
        <!-- /footer logo -->

        <!-- footer copyright -->
        <div class="footer-copyright">
          <!--<p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>-->
        </div>
        <!-- /footer copyright -->

      </div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</footer>
<!-- /Footer -->

<!-- Back to top -->
<div *ngIf="isBackTop" (click)="backToTop()" id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
