<app-home></app-home>
<app-about></app-about>
<app-vacancies></app-vacancies>
<app-contact></app-contact>

<!-- Portfolio -->
<!--<div id="portfolio" class="section md-padding bg-grey">-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Section header &ndash;&gt;-->
      <!--<div class="section-header text-center">-->
        <!--<h2 class="title">Featured Works</h2>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Section header &ndash;&gt;-->

      <!--&lt;!&ndash; Work &ndash;&gt;-->
      <!--<div class="col-md-4 col-xs-6 work">-->
        <!--<img class="img-responsive" src="./img/work1.jpg" alt="">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="work-content">-->
          <!--<span>Category</span>-->
          <!--<h3>Lorem ipsum dolor</h3>-->
          <!--<div class="work-link">-->
            <!--<a href="#"><i class="fa fa-external-link"></i></a>-->
            <!--<a class="lightbox" href="./img/work1.jpg"><i class="fa fa-search"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Work &ndash;&gt;-->

      <!--&lt;!&ndash; Work &ndash;&gt;-->
      <!--<div class="col-md-4 col-xs-6 work">-->
        <!--<img class="img-responsive" src="./img/work2.jpg" alt="">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="work-content">-->
          <!--<span>Category</span>-->
          <!--<h3>Lorem ipsum dolor</h3>-->
          <!--<div class="work-link">-->
            <!--<a href="#"><i class="fa fa-external-link"></i></a>-->
            <!--<a class="lightbox" href="./img/work2.jpg"><i class="fa fa-search"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Work &ndash;&gt;-->

      <!--&lt;!&ndash; Work &ndash;&gt;-->
      <!--<div class="col-md-4 col-xs-6 work">-->
        <!--<img class="img-responsive" src="./img/work3.jpg" alt="">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="work-content">-->
          <!--<span>Category</span>-->
          <!--<h3>Lorem ipsum dolor</h3>-->
          <!--<div class="work-link">-->
            <!--<a href="#"><i class="fa fa-external-link"></i></a>-->
            <!--<a class="lightbox" href="./img/work3.jpg"><i class="fa fa-search"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Work &ndash;&gt;-->

      <!--&lt;!&ndash; Work &ndash;&gt;-->
      <!--<div class="col-md-4 col-xs-6 work">-->
        <!--<img class="img-responsive" src="./img/work4.jpg" alt="">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="work-content">-->
          <!--<span>Category</span>-->
          <!--<h3>Lorem ipsum dolor</h3>-->
          <!--<div class="work-link">-->
            <!--<a href="#"><i class="fa fa-external-link"></i></a>-->
            <!--<a class="lightbox" href="./img/work4.jpg"><i class="fa fa-search"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Work &ndash;&gt;-->

      <!--&lt;!&ndash; Work &ndash;&gt;-->
      <!--<div class="col-md-4 col-xs-6 work">-->
        <!--<img class="img-responsive" src="./img/work5.jpg" alt="">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="work-content">-->
          <!--<span>Category</span>-->
          <!--<h3>Lorem ipsum dolor</h3>-->
          <!--<div class="work-link">-->
            <!--<a href="#"><i class="fa fa-external-link"></i></a>-->
            <!--<a class="lightbox" href="./img/work5.jpg"><i class="fa fa-search"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Work &ndash;&gt;-->

      <!--&lt;!&ndash; Work &ndash;&gt;-->
      <!--<div class="col-md-4 col-xs-6 work">-->
        <!--<img class="img-responsive" src="./img/work6.jpg" alt="">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="work-content">-->
          <!--<span>Category</span>-->
          <!--<h3>Lorem ipsum dolor</h3>-->
          <!--<div class="work-link">-->
            <!--<a href="#"><i class="fa fa-external-link"></i></a>-->
            <!--<a class="lightbox" href="./img/work6.jpg"><i class="fa fa-search"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Work &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Portfolio -->


<!-- Why Choose Us -->
<!--<div id="features" class="section md-padding bg-grey">-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; why choose us content &ndash;&gt;-->
      <!--<div class="col-md-6">-->
        <!--<div class="section-header">-->
          <!--<h2 class="title">Why Choose Us</h2>-->
        <!--</div>-->
        <!--<p>Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.</p>-->
        <!--<div class="feature">-->
          <!--<i class="fa fa-check"></i>-->
          <!--<p>Quis varius quam quisque id diam vel quam elementum.</p>-->
        <!--</div>-->
        <!--<div class="feature">-->
          <!--<i class="fa fa-check"></i>-->
          <!--<p>Mauris augue neque gravida in fermentum.</p>-->
        <!--</div>-->
        <!--<div class="feature">-->
          <!--<i class="fa fa-check"></i>-->
          <!--<p>Orci phasellus egestas tellus rutrum.</p>-->
        <!--</div>-->
        <!--<div class="feature">-->
          <!--<i class="fa fa-check"></i>-->
          <!--<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /why choose us content &ndash;&gt;-->

      <!--&lt;!&ndash; About slider &ndash;&gt;-->
      <!--<div class="col-md-6">-->
        <!--<div id="about-slider" class="owl-carousel owl-theme">-->
          <!--<img class="img-responsive" src="./img/about1.jpg" alt="">-->
          <!--<img class="img-responsive" src="./img/about2.jpg" alt="">-->
          <!--<img class="img-responsive" src="./img/about1.jpg" alt="">-->
          <!--<img class="img-responsive" src="./img/about2.jpg" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /About slider &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Why Choose Us -->


<!-- Numbers -->
<!--<div id="numbers" class="section sm-padding">-->

  <!--&lt;!&ndash; Background Image &ndash;&gt;-->
  <!--<div class="bg-img" style="background-image: url('./img/background2.jpg');">-->
    <!--<div class="overlay"></div>-->
  <!--</div>-->
  <!--&lt;!&ndash; /Background Image &ndash;&gt;-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; number &ndash;&gt;-->
      <!--<div class="col-sm-3 col-xs-6">-->
        <!--<div class="number">-->
          <!--<i class="fa fa-users"></i>-->
          <!--<h3 class="white-text"><span class="counter">451</span></h3>-->
          <!--<span class="white-text">Happy clients</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /number &ndash;&gt;-->

      <!--&lt;!&ndash; number &ndash;&gt;-->
      <!--<div class="col-sm-3 col-xs-6">-->
        <!--<div class="number">-->
          <!--<i class="fa fa-trophy"></i>-->
          <!--<h3 class="white-text"><span class="counter">12</span></h3>-->
          <!--<span class="white-text">Awards won</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /number &ndash;&gt;-->

      <!--&lt;!&ndash; number &ndash;&gt;-->
      <!--<div class="col-sm-3 col-xs-6">-->
        <!--<div class="number">-->
          <!--<i class="fa fa-coffee"></i>-->
          <!--<h3 class="white-text"><span class="counter">154</span>K</h3>-->
          <!--<span class="white-text">Cups of Coffee</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /number &ndash;&gt;-->

      <!--&lt;!&ndash; number &ndash;&gt;-->
      <!--<div class="col-sm-3 col-xs-6">-->
        <!--<div class="number">-->
          <!--<i class="fa fa-file"></i>-->
          <!--<h3 class="white-text"><span class="counter">45</span></h3>-->
          <!--<span class="white-text">Projects completed</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /number &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Numbers -->

<!-- Pricing -->
<!--<div id="pricing" class="section md-padding">-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Section header &ndash;&gt;-->
      <!--<div class="section-header text-center">-->
        <!--<h2 class="title">Pricing Table</h2>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Section header &ndash;&gt;-->

      <!--&lt;!&ndash; pricing &ndash;&gt;-->
      <!--<div class="col-sm-4">-->
        <!--<div class="pricing">-->
          <!--<div class="price-head">-->
            <!--<span class="price-title">Basic plan</span>-->
            <!--<div class="price">-->
              <!--<h3>$9<span class="duration">/ month</span></h3>-->
            <!--</div>-->
          <!--</div>-->
          <!--<ul class="price-content">-->
            <!--<li>-->
              <!--<p>1GB Disk Space</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p>100 Email Account</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p>24/24 Support</p>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<div class="price-btn">-->
            <!--<button class="outline-btn">Purchase now</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /pricing &ndash;&gt;-->

      <!--&lt;!&ndash; pricing &ndash;&gt;-->
      <!--<div class="col-sm-4">-->
        <!--<div class="pricing">-->
          <!--<div class="price-head">-->
            <!--<span class="price-title">Silver plan</span>-->
            <!--<div class="price">-->
              <!--<h3>$19<span class="duration">/ month</span></h3>-->
            <!--</div>-->
          <!--</div>-->
          <!--<ul class="price-content">-->
            <!--<li>-->
              <!--<p>1GB Disk Space</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p>100 Email Account</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p>24/24 Support</p>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<div class="price-btn">-->
            <!--<button class="outline-btn">Purchase now</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /pricing &ndash;&gt;-->

      <!--&lt;!&ndash; pricing &ndash;&gt;-->
      <!--<div class="col-sm-4">-->
        <!--<div class="pricing">-->
          <!--<div class="price-head">-->
            <!--<span class="price-title">Gold plan</span>-->
            <!--<div class="price">-->
              <!--<h3>$39<span class="duration">/ month</span></h3>-->
            <!--</div>-->
          <!--</div>-->
          <!--<ul class="price-content">-->
            <!--<li>-->
              <!--<p>1GB Disk Space</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p>100 Email Account</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p>24/24 Support</p>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<div class="price-btn">-->
            <!--<button class="outline-btn">Purchase now</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /pricing &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Pricing -->


<!-- Testimonial -->
<!--<div id="testimonial" class="section md-padding">-->

  <!--&lt;!&ndash; Background Image &ndash;&gt;-->
  <!--<div class="bg-img" style="background-image: url('./img/background3.jpg');">-->
    <!--<div class="overlay"></div>-->
  <!--</div>-->
  <!--&lt;!&ndash; /Background Image &ndash;&gt;-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Testimonial slider &ndash;&gt;-->
      <!--<div class="col-md-10 col-md-offset-1">-->
        <!--<div id="testimonial-slider" class="owl-carousel owl-theme">-->

          <!--&lt;!&ndash; testimonial &ndash;&gt;-->
          <!--<div class="testimonial">-->
            <!--<div class="testimonial-meta">-->
              <!--<img src="./img/perso1.jpg" alt="">-->
              <!--<h3 class="white-text">John Doe</h3>-->
              <!--<span>Web Designer</span>-->
            <!--</div>-->
            <!--<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>-->
          <!--</div>-->
          <!--&lt;!&ndash; /testimonial &ndash;&gt;-->

          <!--&lt;!&ndash; testimonial &ndash;&gt;-->
          <!--<div class="testimonial">-->
            <!--<div class="testimonial-meta">-->
              <!--<img src="./img/perso2.jpg" alt="">-->
              <!--<h3 class="white-text">John Doe</h3>-->
              <!--<span>Web Designer</span>-->
            <!--</div>-->
            <!--<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>-->
          <!--</div>-->
          <!--&lt;!&ndash; /testimonial &ndash;&gt;-->

        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Testimonial slider &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Testimonial -->

<!-- Team -->
<!--<div id="team" class="section md-padding">-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Section header &ndash;&gt;-->
      <!--<div class="section-header text-center">-->
        <!--<h2 class="title">Our Team</h2>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Section header &ndash;&gt;-->

      <!--&lt;!&ndash; team &ndash;&gt;-->
      <!--<div class="col-sm-4">-->
        <!--<div class="team">-->
          <!--<div class="team-img">-->
            <!--<img class="img-responsive" src="./img/team1.jpg" alt="">-->
            <!--<div class="overlay">-->
              <!--<div class="team-social">-->
                <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="team-content">-->
            <!--<h3>John Doe</h3>-->
            <!--<span>Web Designer</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /team &ndash;&gt;-->

      <!--&lt;!&ndash; team &ndash;&gt;-->
      <!--<div class="col-sm-4">-->
        <!--<div class="team">-->
          <!--<div class="team-img">-->
            <!--<img class="img-responsive" src="./img/team2.jpg" alt="">-->
            <!--<div class="overlay">-->
              <!--<div class="team-social">-->
                <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="team-content">-->
            <!--<h3>John Doe</h3>-->
            <!--<span>Web Designer</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /team &ndash;&gt;-->

      <!--&lt;!&ndash; team &ndash;&gt;-->
      <!--<div class="col-sm-4">-->
        <!--<div class="team">-->
          <!--<div class="team-img">-->
            <!--<img class="img-responsive" src="./img/team3.jpg" alt="">-->
            <!--<div class="overlay">-->
              <!--<div class="team-social">-->
                <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="team-content">-->
            <!--<h3>John Doe</h3>-->
            <!--<span>Web Designer</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /team &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Team -->

<!-- Blog -->
<!--<div id="blog" class="section md-padding bg-grey">-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Section header &ndash;&gt;-->
      <!--<div class="section-header text-center">-->
        <!--<h2 class="title">Recents news</h2>-->
      <!--</div>-->
      <!--&lt;!&ndash; /Section header &ndash;&gt;-->

      <!--&lt;!&ndash; blog &ndash;&gt;-->
      <!--<div class="col-md-4">-->
        <!--<div class="blog">-->
          <!--<div class="blog-img">-->
            <!--<img class="img-responsive" src="./img/blog1.jpg" alt="">-->
          <!--</div>-->
          <!--<div class="blog-content">-->
            <!--<ul class="blog-meta">-->
              <!--<li><i class="fa fa-user"></i>John doe</li>-->
              <!--<li><i class="fa fa-clock-o"></i>18 Oct</li>-->
              <!--<li><i class="fa fa-comments"></i>57</li>-->
            <!--</ul>-->
            <!--<h3>Molestie at elementum eu facilisis sed odio</h3>-->
            <!--<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>-->
            <!--<a href="blog-single.html">Read more</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /blog &ndash;&gt;-->

      <!--&lt;!&ndash; blog &ndash;&gt;-->
      <!--<div class="col-md-4">-->
        <!--<div class="blog">-->
          <!--<div class="blog-img">-->
            <!--<img class="img-responsive" src="./img/blog2.jpg" alt="">-->
          <!--</div>-->
          <!--<div class="blog-content">-->
            <!--<ul class="blog-meta">-->
              <!--<li><i class="fa fa-user"></i>John doe</li>-->
              <!--<li><i class="fa fa-clock-o"></i>18 Oct</li>-->
              <!--<li><i class="fa fa-comments"></i>57</li>-->
            <!--</ul>-->
            <!--<h3>Molestie at elementum eu facilisis sed odio</h3>-->
            <!--<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>-->
            <!--<a href="blog-single.html">Read more</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /blog &ndash;&gt;-->

      <!--&lt;!&ndash; blog &ndash;&gt;-->
      <!--<div class="col-md-4">-->
        <!--<div class="blog">-->
          <!--<div class="blog-img">-->
            <!--<img class="img-responsive"  src="./img/blog3.jpg" alt="">-->
          <!--</div>-->
          <!--<div class="blog-content">-->
            <!--<ul class="blog-meta">-->
              <!--<li><i class="fa fa-user"></i>John doe</li>-->
              <!--<li><i class="fa fa-clock-o"></i>18 Oct</li>-->
              <!--<li><i class="fa fa-comments"></i>57</li>-->
            <!--</ul>-->
            <!--<h3>Molestie at elementum eu facilisis sed odio</h3>-->
            <!--<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>-->
            <!--<a href="blog-single.html">Read more</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /blog &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</div>-->
<!-- /Blog -->


<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <div class="col-md-12">

        <!-- footer logo -->
        <div class="footer-logo">
          <a href="index.html"><img src="img/logo-alt.png" alt="logo"></a>
        </div>
        <!-- /footer logo -->

        <!-- footer follow -->
        <!--<ul class="footer-follow">-->
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
        <!--</ul>-->
        <!-- /footer follow -->

        <!-- footer copyright -->
        <div class="footer-copyright">
          <!--<p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>-->
        </div>
        <!-- /footer copyright -->

      </div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</footer>
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
