<!-- Vacancy -->
<div id="vacancy-details">
  <!-- Container -->
  <div class="container" [@myAwesomeAnimation]='state'>
    <div class="row" *ngIf="activeVacancy">
      <!-- Vacancy slider -->
      <div class="col-md-6">
        <div class="section-header text-center">
          <h3 class="title">{{activeVacancy.title}}</h3>
        </div>
        <owl-carousel *ngIf="activeVacancy" [options]="options" [items]="activeVacancy.images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <img *ngFor="let image of activeVacancy.images;let i = index" class="img-responsive" [src]=image alt="">
        </owl-carousel>
      </div>
      <!-- /Vacancy slider -->
      <div class="col-md-6">
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>location</span>: {{activeVacancy.location}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>gender</span>: {{activeVacancy.genderTranslated}} <span appTranslate>age</span>: {{activeVacancy.age}}</p>
        </div>
        <!--<div class="vacancy-info-block">-->
        <!--<i class="fa fa-check"></i>-->
        <!--<p>-->
        <!--</div>-->
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>qualification</span>: {{activeVacancy.experience}} {{activeVacancy.language}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>duties</span>: {{activeVacancy.duties}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>work schedule</span>: {{activeVacancy.schedule}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>payment</span>: {{activeVacancy.payment}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>work conditions</span>: {{activeVacancy.conditions}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>employment conditions</span>: {{activeVacancy.employment}} {{activeVacancy.additional}}</p>
        </div>
        <div class="vacancy-info-block">
          <i class="fa fa-check"></i>
          <p><span appTranslate>residence conditions</span>: {{activeVacancy.residence}}</p>
        </div>
      </div>
      <!-- /Vacancy -->
      <div class="text-center col-md-6 offset-md-6">
        <button type="button" (click)="requestVacancy(activeVacancy)" class="btn main-btn" appTranslate>Apply</button>
      </div>
    </div>


  </div>
  <!-- /Container -->

</div>
<!-- /Why Choose Us -->