@import "../app.vars.scss";
/*------------------------------------*\
	Vacancy
\*------------------------------------*/

#vacancy-details .container {
  padding-top: 4em;
  overflow: hidden;
}

.vacancy-info-block {
  margin: 0;
  i {
    float: left;
    padding: 3px;
    color: $--color;
  }

  p {
    margin: 0;
    span {
      color: black;
      text-transform: uppercase;
    }
  }
}

/*------------------------------------*\
	Owl theme
\*------------------------------------*/

/* -- dots -- */

::ng-deep .owl-theme {

  &.owl-carousel {
    margin: 0;
  }

  .owl-dots .owl-dot span {
    border: none;
    background: #EEE;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .owl-dots .owl-dot:hover span {
    background: $--color;
  }
  .owl-dots .owl-dot.active span {
    background: $--color;
    width:1em;
  }

  /* -- nav -- */
  .owl-nav {
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;

    [class*='owl-'] {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: transparent;
      //background: $--color;
      color: #FFF;
      padding: 0px;
      width: 50px;
      height: 50px;
      border-radius:3px;
      line-height: 50px;
      margin: 0;
      font-size: 3em;
    }

    [class*='owl-']:hover {
      opacity: 0.8;
      background: transparent;
      //background: $--color;
    }
  }
  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}

::ng-deep .owl-theme:hover .owl-nav {
  opacity: 1;
}
