@import "../app.vars.scss";
/*------------------------------------*\
	Vacancy items
\*------------------------------------*/

.vacancy-wrapper {
  margin: .5em 0;
  padding: 0 .5em;
}

.vacancy-item {
  position: relative;
  padding: 1em 1em 1em 1.5em;
  border: 1px solid #EEE;
  cursor: pointer;
  height: 100%;

  &.female.male {
    padding-left: 3em;
    i+i {
      margin-left: .1em;
    }
  }

  &.female {
    i.fa-female {
      display: inline-block;
    }
  }

  &.male {
    i.fa-male {
      display: inline-block;
    }
  }

  i {
    display: none;
  }

  .gender {
    position: absolute;
    left: .1em;
    text-align: center;
    font-size: 32px;
    color: $--color;
    border-radius: 50%;
  }

  h5 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    margin-bottom: .5em;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  a {
    float: right;
  }
}

.vacancy-item:after {
  content: "";
  background-color: $--background-hover;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  z-index: -1;
  -webkit-transition: 0.2s width;
  transition: 0.2s width;
}

.vacancy-item:hover:after {
  width: 100%;
}

.vacancy-item:hover {
  i, a {
    color: $--color-text-hover;
  }
  h5 {
    color: #fff;
  }
}

.animate-if {
  background:white;
  border:1px solid $--background-hover;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}