<!-- Service -->
<div id="vacancies" class="section sm-padding">

  <!-- Container -->
  <div class="container">
    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">{{pageContent.title.rendered}}</h2>
    </div>
    <!-- /Section header -->
    <!-- Row -->
    <div class="row" id="vacancies-list">
      <!-- vacancy item -->
      <div *ngFor="let vacancy of vacancies" (click)="vacancyDetails(vacancy)" class="col-md-3 col-sm-6 vacancy-wrapper">
        <div class="vacancy-item">
          <h5><i class="fa fa-male"></i>{{vacancy.name}}</h5>
          <p>{{vacancy.place}}.<a href="javascript:void(0);">Детальніше</a></p>
        </div>
      </div>
      <!-- /service -->

    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
  <app-vacancy [vacancy]="active"></app-vacancy>
</div>
<!-- /Service -->