<!-- Header -->
<div id="home">
  <!-- Background Image -->
  <div class="bg-img">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <app-nav></app-nav>

  <!-- home wrapper -->
  <div class="home-wrapper">
    <div class="container">
      <div class="row justify-content-center">

        <!-- home content -->
        <div class="col-md-10">
          <div class="home-content">
            <h1 class="white-text">{{pageContent.site_title}}</h1>
            <p class="white-text">{{pageContent.sub_title}}</p>
            <button (click)="navigateTo('vacancies')" class="white-btn">{{pageContent.search_button}}</button>
            <button (click)="navigateTo('request-form')" class="main-btn">{{pageContent.action_button}}</button>
          </div>
        </div>
        <!-- /home content -->
      </div>
    </div>
  </div>
  <!-- /home wrapper -->
  <!--<div class="row contacts">-->
    <!--<div class="col-sm-4" *ngFor="let contact of contacts">-->
      <!--<a (click)="selectContact(contact.contact)"><i class="fa fa-map-marker"></i>{{contact.city}}</a>-->
      <!--<a [href]="'tel:' + contact.phone"><i class="fa fa-mobile-phone"></i>{{contact.phone}}</a>-->
    <!--</div>-->
  <!--</div>-->
</div>